//Screens
$bp-desktop: 1440px;
$bp-tablet: 768px;
$bp-mobile: 375px;

//Fonts
$font-primary: "Big Shoulders", sans-serif;
$font-secondary: "Outfit", sans-serif;

//Colors

$color-black: #151515;
$color-grey: #444444;
$background-footer: #d5966c;
$color-white: #ffffff;
