@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as *;

.header-maps {
  background-image: url("/src/assets/img/Maps.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 550px;
}

.hero-maps {
  height: 493px;
  background-color: v.$color-black;
  color: v.$color-white;
  & .h1-maps {
    width: 343px;
    height: 45px;
    padding-left: 16px;
    padding-top: 48px;
    font-size: 50px;
    font-weight: 900;
  }
  & .nav-footer {
    width: 343px;
    height: 296px;
    padding-left: 16px;
    margin-top: 48px;
    & .h4-maps {
      font-size: 32px;
      font-weight: 900;
      color: v.$background-footer;
      margin-bottom: 20px;
    }
    & .p1-maps {
      font-family: v.$font-secondary;
      font-size: 18px;
      font-weight: 200;
      line-height: 28px;
      margin-bottom: 20px;
      height: 84px;
      word-spacing: 2px;
    }
    & .p2-maps {
      font-family: v.$font-secondary;
      font-size: 18px;
      font-weight: 200;
      line-height: 28px;
      height: 140px;
      word-spacing: 3px;
    }
  }
}

.footer-maps {
  background-color: v.$background-footer;
  height: 336px;
  padding-left: 32px;
  padding-top: 48px;
  & .h5-maps {
    width: 110px;
    height: 40px;
    margin-bottom: 38px;
  }
  & .p-footer {
    font-family: v.$font-secondary;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 38px;
    width: 311px;
  }
  & .ul-footer {
    @include reset-list();
    display: flex;
    gap: 20px;
    & li img {
      filter: brightness(0);
    }
  }
}

.maps {
  @include breakpoint(tablet) {
    .button2 {
      margin-left: 39px;
    }
    & .hero-maps {
      width: 100%;
      display: flex;
      & .h1-maps {
        width: 223px;
        height: 100px;
        padding-left: 39px;
        padding-top: 88px;
      }
      & .nav-footer {
        width: 398px;
        height: 268px;
        margin-top: 88px;
        margin-left: 68px;
      }
    }
    & .footer-maps {
      width: 100%;
      height: 216px;
      display: flex;
      margin: 0;
      padding: 0;
    }
    & .h5-maps {
      margin-top: 56px;
      margin-left: 39px;
    }
    & .p-footer {
      padding-left: 65px;
      margin-top: 56px;
    }
    & .ul-footer {
      width: 100px;
      height: 20px;
      margin-top: 56px;
      padding-left: 133px;
      padding-right: 20px;
    }
  }
}
